$highlights: (
  "dark",
  "primary",
  "secondary",
  "tertiary",
  "quaternary",
  "quinary"
);

/**
 * WRAPPER
 * Sets a max width, adds a consistent gutter and horizontally
 * centers the contents
 */

.wrapper {
  max-width: 95vw;
  padding: 0 get-size("400");
  margin: 0 auto;
  position: relative;
}

.world-wrap {
  @extend .wrapper;
  min-height: 80vh;
  color: get-color("dark");
  border-radius: 5px;
  margin-bottom: 10px;
}
