$highlights: ('dark', 'primary', 'secondary', 'tertiary', 'quaternary', 'quinary');

/**
 * WRAPPER
 * Sets a max width, adds a consistent gutter and horizontally
 * centers the contents
 */

 .wrapper {
  max-width: 70rem;
  padding: 0 get-size('500');
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.world-wrap {
  @extend .wrapper;
  min-height: 80vh;
  border-radius: 5px;
  margin-bottom: 10px;
  @each $highlight in $highlights {
    &[data-highlight='#{$highlight}'] {
      $page-theme-primary: get-color($highlight); 
      border: 5px solid $page-theme-primary;
    }
    &[data-accent='#{$highlight}']{
      &::before {
        content: " ";
        position: absolute;
        z-index: -1;
        top: 2px;
        left: 2px;
        right: 2px;
        bottom: 2px;
        border-radius: 3px ;
        border: 5px solid get-color($highlight)
        
    }
  }
   
}
}