{% extends "layouts/base.html" %} 
{% set pageCriticalStyles = ['css/home.css'] %}
{% block content %}
  <article class="wrapper" data-highlight="{{borderHighlight}}" data-accent="{{accentHighlight}}">
    <div class="home-container" >
      <h1 class="home-headline">{{postHeader}}</h1>

      {% if list %}
        {% include "partials/post-list.html" %} 
      {% else %}
        <article>
          {{content | safe}}
        </article>
      {% endif %}
      <div class="visual">
        {% if p5 %}
          <div id="sketch-container"></div>
        {% else  %}
          <img src="../../images/IMG_1812.JPG" alt="">    
        {% endif %}
      </div>
      </div>
    </div>
  </article>
  {% if list %}
  {% else %}
    {% include "partials/readings.html" %}
  {% endif %}
  {% include "partials/site-foot.html" %}

{% endblock %}