{% extends "layouts/home-base.html" %} {% set pageCriticalStyles =
['css/home.css'] %} {% block content %}
<article
  class="wrapper"
  data-highlight="{{highlight}}"
  data-accent="{{accentHighlight}}"
>
  <div class="home-container">
    <div class="home-text-content">
      <h1 class="home-headline">{{postHeader}}</h1>

      {% if list %} {% include "partials/post-list.html" %} {% else %}
      <article>{{content | safe}}</article>
      {% endif %}
    </div>

    <div class="visual">
      <picture>
        <source srcset="{{webpSrc}}" type="image/webp" />
        <source srcset="{{imgSrc}}" type="image/jpg" />
        <img src="{{imgSrc}}" alt="{{imgAlt}}" />
      </picture>
      <p>{{imgAlt}}</p>
    </div>
  </div>
</article>
{% if list %} {% else %} {% include "partials/readings.html" %} {% endif %} {%
if p5 %}
<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.0.0/p5.min.js"
></script>
{% for script in p5scripts %}
<script src="{{script}}"></script>
{% endfor %} {% endif %} {% endblock %}
