// Blocks
@import "./mixins/media-query";

.home-container {
  display: grid;
  width: 100%;
  margin-top: 1.6em;
  grid-template-areas:
    "ar ar ar  . . kv kv kv kv"
    "ar ar ar . . kv kv kv kv"
    "ar ar ar . . kv kv kv kv"
    "ar ar ar . . kv kv kv kv";
  @include media-query("md") {
    grid-template-areas:
      "ar ar ar ar"
      "ar ar ar ar"
      "ar ar ar ar"
      "ar ar ar ar"
      "kv kv kv kv"
      "kv kv kv kv"
      "kv kv kv kv"
      "kv kv kv kv";
  }
}

.home-container article {
  grid-area: ar;
}

.home-container .post-list {
  grid-area: ar;
}

.home-headline {
  width: 100%;
  line-height: 0.7;
  margin-bottom: 0.6em;
}

.visual {
  max-width: 55vw;
  justify-self: right;
  grid-area: kv;
  img {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    object-position: center;
    filter: contrast(150%) grayscale(15%) saturate(100%);
  }
}
