// Blocks
@import "./mixins/media-query";

.home-container {
  display: grid;
  width: 100%;
  margin-top: 1.6em;
  img {
    border-radius: 5px;
  }
  grid-template-areas:
    "ar ar ar  . . kv kv kv kv"
    "ar ar ar . . kv kv kv kv"
    "ar ar ar . . kv kv kv kv"
    "ar ar ar . . kv kv kv kv";
  @include media-query("md") {
    width: 95vw;
    grid-template-areas:
      "ar"
      "kv";
  }
}

.home-container article {
  grid-area: ar;
}

.home-container .post-list {
  grid-area: ar;
}

.home-headline {
  width: 100%;
  line-height: 0.7;
  margin-bottom: 0.6em;
}

.visual {
  max-width: 55vw;
  justify-self: right;
  grid-area: kv;
  img {
    height: 75vh;
    width: 100%;
    object-fit: cover;
    object-position: center;
    filter: contrast(150%) grayscale(15%) saturate(100%);
  }
  canvas {
    max-width: 25%;
  }
  @include media-query("md") {
    justify-self: center;
    max-width: 100%;
    img {
      max-width: 90%;
      max-height: 25vh;
    }
  }
}
