$highlights: ('dark', 'primary', 'secondary', 'tertiary', 'quaternary', 'quinary');

.nav {
  line-height: 1;
  font-weight: 900;
  margin-top: -#{get-size('400')};
  margin-inline-start: -#{get-size('400')};
  color: get-color('dark');
  margin-top: auto;

  &__list {
    display: flex;
    flex-wrap: wrap;
    > * {
      padding-top: get-size('400');
      padding-inline-start: get-size('400');
    }
  }

  a {
    text-decoration: none;
    display: block;
    position: relative;

    // Adds the fake border to active state items
    &[data-state='active'],
    &[aria-current='page'] {
      &:before {
        content: '';
        display: block;
        width: 100%;
        height: 0.25rem;
        position: absolute;
        top: 100%;
        left: 0;
        margin-top: 0.25rem;
        // background: get-color('quinary-shade');
      }
      @each $highlight in $highlights {
        &[data-highlight='#{$highlight}'] {
          text-decoration: underline;
          text-decoration-color:get-color($highlight);
          text-decoration-thickness: .1em;
          text-underline-offset: get-size('200');
          text-decoration-skip-ink: auto;
        }
      };
    }
  }
}