@import "./mixins/media-query";
@import "./functions/get-size";

.post-list {
  li {
    padding-bottom: 0em;
  }
}

.more-posts__wrapper {
  width: 100vw;
}

.more-posts {
  margin-top: 1em;
  color: get-color("dark");
  background-color: get-color("light");
  border-radius: 5px;
  border-top: 5px solid get-color("primary");
  border-bottom: 3px solid get-color("secondary");
  box-shadow: 2px 1px 0px 1px get-color("secondary");
  padding-left: 0.8rem;
  padding-top: 0.5em;
  padding-bottom: 2.5em;
  margin-right: 8em;
  height: 70%;
  margin-left: -5px;
  @include media-query("md") {
    margin-right: 3em;
  }
}

.more-posts__inner {
  font-size: get-size("500");
  padding-right: get-size("300");
  @include media-query("md") {
    font-size: get-size("500");
    padding-right: get-size("200");
  }

  ul {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
