.site-head {
  padding: get-size('400') 0;
  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__brand {
    flex-shrink: 0;
    margin-inline-end: get-size('600'); // Prevents nav bunching up to the logo
    
    svg {
      width: 140px;
      height: get-size('700');
      margin:0;
      padding: get-size('800');

      path {
        @each $highlight in $highlights {
          &[data-highlight='#{$highlight}'] {
            fill:get-color($highlight);
          }
        }
      }
    }
  }
}