$base-size: 1rem;

$size-scale: (
  '300': $base-size * 0.8,
  '400': $base-size,
  '500': $base-size * 1.25,
  '600': $base-size * 1.6,
  '700': $base-size * 2,
  '900': $base-size * 3
);

$colors: (
  'dark': #38445b,
  'light': #f9f4e3,
  'primary': hsla(314, 54%, 64%, 1),
  'secondary':  hsl(210, 67%, 43%),
  'tertiary': hsla(149, 44%, 80%, 1),
  'quaternary':hsla(44, 83%, 61%, 1),
  'quinary':hsla(12, 85%, 60%, 1) 
);