$base-size: 1rem;

$size-scale: (
  '200': $base-size * 0.4,
  '300': $base-size * 0.8,
  '400': $base-size,
  '500': $base-size * 1.25,
  '600': $base-size * 1.6,
  '700': $base-size * 2,
  '900': $base-size * 3
);

$colors: (
  'dark': #1f567a,
  'light': #f3fffd,
  'primary': #D981C5,
  'secondary':  #66c3d1,
  'tertiary': #d5e6e0,
  'quaternary':#EEE881,
  'quinary':#F17300 
);

$style-config: (
  'font': (
    'items': (
      'base': '"Lato", "Prompt"',
      'sans': '"Red Hat Display", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif',
    ),
    'output': 'standard',
    'property': 'font-family',
  ),
  'gap-top': (
    'items': $size-scale,
    'output': 'responsive',
    'property': 'margin-top',
  ),
  'breakpoints': (
    'sm': '(max-width: 37em)',
    'md': '(max-width: 61em)',
    'lg': '(min-width: 62em)',
  ),
)