@import './functions/get-size';
@import './functions/get-color';
@import './mixins/apply-utility';
@import './config';
$highlights: ('dark', 'primary', 'secondary', 'tertiary', 'quaternary', 'quinary');
// Global styles start
:root {
  --flow-space: #{get-size('600')};
}

.site-wrap {
  overflow-x:hidden;
}

ul {
  list-style:none;
}

li {
  margin-bottom: get-size('300');

  & > a > svg {
    margin-right:get-size('200')
  }
  path {
    @each $highlight in $highlights {
      &[data-accent='#{$highlight}'] {
        fill:get-color($highlight);
      }
    };
  }

  path {
    @each $highlight in $highlights {
      &[data-highlight='#{$highlight}'] {
        fill:get-color($highlight);
      }
    }
  }
}

body {
  background: get-color('light');
  line-height: 1.5;
  font-size: get-size('500');
  // font-family: 'Prompt';
  @include apply-utility('font', 'base');
}

a:not([class]) {
  color: currentColor;
  text-decoration-color: get-color('quinary');
}

:focus {
  outline: 2px dashed get-color('primary');
  outline-offset: 0.25rem;
}

main:focus {
  outline: none;
}

h1,
h2,
h3,
h4 {
  font-weight: 900;

  @include apply-utility('font', 'sans');
  // @include apply-utility('leading', 'flat');
}

// High contrast selection because it can help visually-impaired
// folks read the text easier
::selection {
  color: get-color('light');
  background-color: get-color('tertiary')
  // We set this as an RGBA because that’s how you get a solid color, by using 0.99
  // alpha value. Browsers are wild.
  // background: rgba(get-color('dark-shade'), 0.99);
}

// Scrollbar styles
::-webkit-scrollbar {
  height: 1rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  // border: 1px solid get-color('dark-glare');
  border-radius: 0.25rem;
}

::-webkit-scrollbar-thumb {
  background-color: get-color('dark');
  border-radius: 0.25rem;
}

@import 'reset';

// BLOCKS
@import './blocks/nav';
@import './blocks/site-head';
@import './blocks/site-foot';
@import './blocks/blobs';
@import './blocks/home-container';
@import './blocks/post-list';

//UTILITIES
@import './utilities/wrapper'



