<div class="readings__wrapper">
  <div class="readings__inner">
    <div class="readings__header">
      <a href="/blog/using-ios-shortcuts-airtable-and-github-workflows-to-update-my-website"><h3>Things I'm Reading</h3></a>
      <p>&#9432</p>
    </div>
    
    <div class="readings__list">
      <ul>
        {% for item in readings %}
        <a href="{{item.URL}}">
        <li class="readings__item">
          <div class="reading__title">
            {{item.Title}}
          </div>
          

          <div class="reading__metadata">
            <!-- <div class="metadata__tag">
              {%for tag in item.Tags%}
                {{tag}}
              {%endfor%}  
            </div> -->
            <div class="time" style="color:grey">
              Saved on: {{item.CreatedTime}}
            </div>
            
          </div>
        </li>
      </a>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>