<header role="banner" class="site-head">
  <div class="wrapper" style="margin-left:initial">
    <div class="site-head__inner">
      <a href="/" aria-label="{{ site.name }} - home" class="site-head__brand">
        {% include "partials/dengel.svg" %}
      </a>
      <nav class="nav site-head__nav font-sans" aria-label="Primary">
        <ul class="nav__list">
          {% for item in navigation.items %}
          <li>
            <a {{ helpers.getLinkActiveState(item.url, page.url) | safe }} href="{{ item.url }}" title="{{ item.title }}" data-highlight="{{item.highlight}}">{{ item.text }}</a>
          </li>
          {% endfor %}
        </ul>
      </nav>
    </div>
  </div>
</header