<footer role="contentinfo" class="site-foot">
  <div class="wrapper" style="margin-left: auto; margin-right: auto">
    <div class="site-foot__inner site-foot__grid">
      <div class="straight-up">
        <h4 style="margin-top: -9px;">Me, elsewhere</h4>
        {% include "partials/contact-icons.html" %}
        <div class="flatcard">
          <div id="ribbon">
            <div class="foam">
            </div>
          </div>
        </div>
      </div>
      <p class="sideways">Dan Engel's website</p>   
    </div>
  </div>
</footer>